@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,500;1,300;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

*{
  margin : 0;
  padding: 0;
  border : 0;
  outline: 0;
  font-family: 'Poppins', sans-serif;;
}

body{
  font-family: 'Poppins', sans-serif
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.bannerImage{
  animation : banner_animation 3s ease-in-out infinite
}

@keyframes banner_animation {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}

.banner_main_box:hover{
    transform: rotate3d(0, 1, 0.5, 20deg) ;
    transition: ease-in-out;
    cursor:  pointer;
}

.content{
  width : 100px;
  height : 100px;
  position : absolute;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.content:hover {
  transform: rotateY(180deg);
  
}

.front,.back{
  width: 100px;
  height: 100px;
  position: absolute;
  color : tomato;
  background-color :white;
  backface-visibility: hidden;
}

.back{
  transform: rotateY(180deg);
}

.box1, .box11{
  width :  100%;
  height : 100%;
  cursor : "pointer"
}

.restaurant_image_new{
  cursor : "pointer"
}

.restaurant_image_new:hover{
  border-radius: none;
  min-width: 200px;
}

.sponser_image{
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.getStarted{
  border: 4px solid #2d3436;
}

.getStartedBtn{
  border: 4px solid red;
}

.heroSec{
  border-bottom: 1px dashed white;
  min-height : 4px;
  min-width : 100%;
}

.heroBtn{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.coffeeTypes{
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
}

.step{
  border: 4px solid #6E260E;
}

.leftCurve{
  transform: rotate(120deg);
}

.rightCurve{
  transform: rotate(50deg);
}

.coffeeSteps{
  background-image: url("./assets/images/coffe2.png");
  background-repeat : no-repeat;
  object-fit : cover;
  opacity: 0.9;
}

@media screen and (min-width : 2560px) {
  .stepsClass{
    max-width : 800px;
    background-color: yellow;
  }

  .leftCurve{
    min-Height : 250px
  }
}

@media screen and (min-width : 320px) and (max-width : 480px) {
  .leftCurve{
    transform: rotate(160deg);
  }
  .rightCurve{
    transform: rotate(20deg);
  }
}